body {
    font-family: 'Roboto Mono', monospace;

}



section {
    background-color: rgb(250, 249, 246);

}

.hero {
    background-color: rgb(250, 249, 246);
    height: 100%;
    color: navy;
    font-size: 40px;
}

footer {
    height: 500px;
    background-color: rgb(250, 249, 246);
    color: navy;
    text-align: center;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size: 30px;
}

li {
    text-decoration: none;
}

h1 {
    font-size: 60px;
    margin: 0;
}

h2 {
    font-size: 27px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 30px;
    font-weight: 300;
    margin: 0;
}

.subtext {
    font-size: 15px;
    font-weight:300;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}

.hero-text {
    margin-left: 80px;
    margin-bottom: 200px;
}

.button {
    width: 200px;
    height: 55px;
    background-color: yellow;
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    padding-top: 5px;
    margin-top: 20px;
}

.button:hover {
    background-color: rgb(255, 255, 115);
}

.button:active {
    background-color: navy;
    color: rgba(128, 128, 128, 0.76);
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px;
}

.sub-section-alternative {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
}

.headshot {
    width: 200px;
}

.headshot-container {
    display: flex;
    align-items: center;

}

.project-card {
    width: 300px;
    height: 500px;
    box-shadow: 5px 5px 20px rgb(207, 207, 207); 
    margin: 10px;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

.project-image {
    margin-top: 25px;
    width: 250px;
    border-radius: 125px;
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}

.project-link {
    text-decoration: none;
    color: navy;
}

a {
    text-decoration: none;
    color: navy;
}